@charset "UTF-8";

	/* 모달 전체 배경 */
	.modal {
	  display: none; /* 기본은 숨김 */
	  position: fixed;
	  z-index: 999;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  overflow: auto; /* 스크롤 가능 */
	  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
	}
	
	/* 모달 내부 박스 */
	.modal-content {
	  background-color: #fffefe;
	  margin: 10% auto;
	  padding: 24px;
	  width: 400px;
	  border-radius: 10px;
	  position: relative;
	  font-size: 15px;
	  font-weight: 600;
  	  color: #333;
	  text-align: center;
	}

	/* input 영역 */
	.input-row {
	  display: flex;
	  flex-direction: column;
	  gap: 6px;
	  margin-bottom: 16px;
	}
	
	.input-row label {
	  font-weight: 600;
	  color: #333;
	}
	
	.input-row input[type="text"] {
	  padding: 10px;
	  border: 1px solid #ccc; /* 👈 연회색 테두리 */
	  border-radius: 8px;
	  font-size: 15px;
	  font-weight: normal;
	  outline: none;
	  transition: border-color 0.2s ease;
	}
	
	.input-row input[type="text"]:focus {
	  border-color: #aaa; /* 포커스 시 더 진한 회색 */
	}
		
	
	/* 송장번호입력 등록 버튼 */
	#submitInvoiceBtn {
	  background-color: #4caf50;
	  color: white;
	  padding: 10px 20px;
	  margin-top: 12px;
	  border: none;
	  border-radius: 10px;
	  font-size: 15px;
	  font-weight: bold;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
	  width: 100%;
	}
	
	#submitInvoiceBtn:hover {
	  background-color: #43a047;
	}
	
	/* 닫기 버튼 (X) */
	.close {
	  color: #aaa;
	  float: right;
	  font-size: 24px;
	  font-weight: bold;
	  cursor: pointer;
	}
	
	.close:hover {
	  color: black;
	}
