@charset "UTF-8";
/* 모달 전체 */
.alarm-modal {
  position: fixed;
  top: 0;
  right: 0px;
  display: none;
  width: 400px;
  height: 100vh;
  background-color: #fff;
  box-shadow: -3px 0 10px rgba(0,0,0,0.15);
  z-index: 9999;
  transition: right 0.3s ease;
}

.alarm-modal.active {
  right: 0;
}

/* 알림 내용 */
.alarm-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.alarm-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.alarm-list {
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

/* 알림 카드 */
.alarm-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  margin-bottom: 15px;
  border: 1px solid #eee;
}

.alarm-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alarm-title {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.alarm-body {
  font-size: 13px;
  color: #555;
  margin-top: 6px;
}

.delete-btn,
.clear-all-btn,
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.clear-all-btn:hover,
.delete-btn:hover {
  color: crimson;
}
