@charset "UTF-8";
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background-color: white;
  border-bottom: 1px solid #eee;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20%;
}

.search-box input {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px 14px;
}

.topbar-right {
  margin-right: 15%;
  padding-right: 30px;
}

.topbar-right span {
  margin-left: 16px;
  font-size: 14px;
}
