.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  width: 90%;
  max-width: 520px;
  max-height: 90vh;
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.modal-header h3 {
  font-size: 20px;
  margin: 0;
}

.modal-header .close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #999;
}

.modal-add-btn {
  width: 100%;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  font-weight: bold;
}

.modal-img-list {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.image-card img {
	width: 70%;
	height: 70%;
	border-radius: 8px;
	object-fit: cover;
}

.img-delete-btn {
	position: absolute;
	top: 6px;       /* 카드 상단에서 6px 아래 */
	right: 6px;     /* 카드 오른쪽에서 6px 안쪽 */
	background: red;
	color: white;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	z-index: 10; /* 이미지 위에 뜨도록 */
}

/* 하단 고정 확인 버튼 */
.modal-footer {
  text-align: right;
  padding-top: 12px;
  border-top: 1px solid #eee;
}

.modal-footer .confirm-button {
  background-color: #4d62dc;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-footer .confirm-button:hover {
  background-color: #3c4db5;
}

